/* Icons from iconfinder.com
http://www.iconfinder.com/search/?q=iconset%3Asiena
*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	font-family: Arial, sans-ser;
	font-size: 14px;
	color: #444;
	background-color: #DDD;
}

::selection {
	background: transparent;
}
::-moz-selection {
	background: transparent;
}

#view {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 3;
}
.designer{
	width: 500px;
	height: 500px;
}
.ent {
	display: block;
	float: left;
	position: absolute;
	font-size: 12px;
	/*margin: 20px;*/
	min-width: 100px;
	background-color: transparent;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 1px 3px #666;
	-moz-box-shadow: 0 1px 3px #666;
	box-shadow: 0 1px 3px #666;
	z-index: 2;
	cursor: move;
}

.ent .header {
	min-width: 100%;
	padding: 5px 5px 5px 10px;
	font-size: 12px;
	font-weight: bold;
	color: #eee;
	border-top: 0px solid #CCC;
	background-color: #444;
	background: -webkit-linear-gradient(#444, #333);
	background: -moz-linear-gradient(#444, #333);
	background: -o-linear-gradient(#444, #333);
	background: -ms-linear-gradient(#444, #333);
	background: linear-gradient(#444, #333);
	-moz-border-radius-top: 3px 3px 0px 0px;
	-webkit-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
}

.ent .body{
	background-color: #fff;
	padding: 2px 2px 2px 2px;

	margin: 0px;
	border: none 0px;

}
.ent ul {
	list-style: none;
}

.ent ul li {
	color: #666;
	padding-top: 1px;
	line-height: 16px;
	background-image: url(https://dl.dropbox.com/s/qo412wmz99jjfjw/siena.png?dl=1);
	background-position: 0 0;
	background-color: transparent;
	background-repeat: no-repeat;
	padding-left: 20px;
}

.ent ul.pk {
}

.ent ul.pk li {
	background-position: 0 -16px;
	color: #C24704;
}

.ent ul.fk li {
	background-position: 0 -32px;
	color: #8FA63C;
}

.rel {
	position: absolute;
}

.relLT {
	border-left: 1px solid #000;
	border-top: 1px solid #000;
}

.relLB {
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
}

.relRT {
	border-right: 1px solid #000;
	border-top: 1px solid #000;
}

.relRB {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

input.fieldName{
	line-height: 16px;
	border: solid 1px #C67704;
	padding: 0px;
	margin: 0px;
}
input.fieldName.hidden{
	display: none;
}



