<!DOCTYPE html>
<html ng-app='app'>

<head>
    <meta charset="UTF-8">
    <title>Welcome to electron Mail mass application!</title>
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="./node_modules/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" href="./css.css">

    <style>
        body {
            /*margin: 2px;
            -webkit-app-region: drag;
            */
        }
        
        .no-drag {
            -webkit-app-region: no-drag;
        }
    </style>
</head>

<body>

    <md-toolbar class="md-accent drag-window">
        <div class="md-toolbar-tools titlebar">
            <md-button class="md-icon-button  no-drag" aria-label="Send" ng-click="send()">
                <ng-md-icon icon="send" md-colors="{fill: 'primary'}"></ng-md-icon>
                <md-tooltip>Start sending</md-tooltip>
            </md-button>
            
            <span flex>Sending to: {{sendingTo.address}}</span>


            <md-button class="md-icon-button no-drag" ng-click="saveProfile($event)">
                <ng-md-icon icon="save" md-colors="{fill: 'grey'}"></ng-md-icon>
                <md-tooltip>Save current profile</md-tooltip>
            </md-button>
            <md-button class="md-icon-button no-drag" ng-click="showConfig($event)">
                <ng-md-icon icon="more_vert" md-colors="{fill: 'grey'}"></ng-md-icon>
                <md-tooltip>SMTP and auth stuffs...</md-tooltip>
            </md-button>
            
        </div>
    </md-toolbar>

    <div class="designer" ng-controller="designerControll">

        <entity-table ng-repeat="e in data.entities" table="e"></entity-table>

    </div>


    http://www.lively-kernel.org/repository/webwerkstatt/users/tmohr/libs/jsPlumb/demo/jquery/dynamicAnchorsDemo.html 
    
    http://codepen.io/yurigor/pen/vXYomB

</body>
<script>window.$ = window.jQuery = require('jquery');</script>
<script>
    require('jsPlumb');
    var __plumbInst = jsPlumb.getInstance();
    
    var plumbDef = __plumbInst.importDefaults({
        Connector: ["Flowchart"],
        Anchors: "AutoDefault"
    });
    //jsPlumb.draggable(jsPlumb.getSelector("#sampleDiv"));
    // __plumbInst.connect({
    //     source: "Employee",
    //     target: "Position",
    //     scope: "someScope",
    //     anchor: "AutoDefault"
    // });

    // __plumbInst.connect({
    //     source: "Employee",
    //     target: "Employee",
    //     scope: "someScope",
    //     connector: "Bezier",
    //     anchor: "AutoDefault"
    // });
    
    // You can also require other files to run in this process
    require('./index.renderer');

</script>

</html>