body{
    overflow: hidden;
}
.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}

.fakeMenu {
  width: 100%;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
}

.fakeScreen {
  background-color: #151515;
  width: 100%;
  height: 100%;
  margin: 0px;
  border: none 0px;
  padding: 0px;
}
