<div class="ent no-drag-window" ng-style="{left: table.left, top: table.top}">
    <div class="header">{{table.name}}</div>
    <div class="body">
        <ul class="pk" >
            <entity-column ng-repeat="pk in table.columns | filter: {isPrimary: true}"  column="pk"></entity-column>
        </ul>
        <ul >
            <entity-column ng-repeat="c in table.columns | filter: {isPrimary: false}" column="c"></entity-column>
        </ul>
        <ul ng-repeat="fk in table.foreignKeys" class="fk">
            <li ng-repeat="ref in fk.columns"></li>
        </ul>            
        
        <input type="text" class="fieldName"/>
        <select class="columnType"></select>
    </div>
</div>
