<div class="ent" ng-style="{left: table.left, top: table.top}">
    <div class="header">{{table.name}}</div>
    <div class="body">
        <ul ng-repeat="pk in table.columns | filter: {isPrimaryKey: true}" class="pk" >
            <li>{{pk.name}}</li>
        </ul>
        <ul ng-repeat="c in table.columns | filter: {isPrimaryKey: false}" class="cols">
            <li>{{c.name}}</li>
        </ul>
        <ul ng-repeat="fk in table.foreignKeys" class="fk">
            <li ng-repeat="ref in fk.columns"></li>
        </ul>            
        
        <input type="text" class="fieldName"/>
        <select class="columnType"></select>
    </div>

</div>