<div class="entity no-drag-window" ng-style="{left: table.left, top: table.top}">
    <input type="text" class='editName' />
    <input type="text" class='editType' />
    <table border='0' cellpadding="0" cellspacing="0">
        <thead>
            <th colspan="99">{{table.name}}
                <div class='menu'>
                    <i class="menu-trigger fa fa-bars" onclick="this.parentNode.classList.toggle('active');"></i>
                    <ul class='menu-content'>
                        <li><a href="#">Remover</a> </li>
                    </ul>
                </div>
            </th>
        </thead>
        <tbody>
            <tr ng-repeat="pk in table.columns | filter: {isPrimaryKey: true}" class="pk">
                <td></td>
                <td class="column-name">{{pk.name}}</td>
                <td class="column-type">{{pk.type}}</td>
            </tr>
            <tr ng-repeat="c in table.columns | filter: {isPrimaryKey: false}" class="cols">
                <td>icon</td>
                <td class="column-name">{{c.name}}</td>
                <td class="column-type">{{c.type}}</td>
            </tr>
            <tr ng-repeat="fk in table.foreignKeys" class="fk">
                <td>icon</td>
                <td class="column-name"><span ng-repeat="ref in fk.columns"></span></td>
                <td class="column-type">condensed(type)</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan='99'>asd</td>
            </tr>
        </tfoot>
    </table>
</div>


<!--<div class="ent no-drag-window" ng-style="{left: table.left, top: table.top}">
    <div class="header">{{table.name}}</div>
    <div class="body">
        <ul ng-repeat="pk in table.columns | filter: {isPrimary: true}" class="pk" >
            <li>{{pk.name}} &nbsp;
                <strong>
                    <i>{{pk.type}}
                        <span ng-if="pk.precision || pk.scale">
                            (
                            <span ng-if="pk.precision">{{pk.precision}}<span ng-if="pk.scale">, </span></span>
                            <span ng-if="pk.scale">{{pk.precision}}</span>
                            )
                        </span> 
                    </i>
                </strong>
                &nbsp;
                <span ng-if="!pk.isNullable">NN</span>
                <span ng-if="pk.isAutoIncrement"><span>{{pk.increment.seed}}</span> <span> +{{pk.increment.step}}</span></span>
            </li>
        </ul>
        <ul ng-repeat="c in table.columns | filter: {isPrimary: false}" class="cols">
            <li>{{c.name}} &nbsp;
                <strong>
                    <i>{{c.type}}
                        <span ng-if="c.precision || c.scale">
                            (
                            <span ng-if="c.precision">{{c.precision}}<span ng-if="c.scale">, </span></span>
                            <span ng-if="c.scale">{{c.precision}}</span>
                            )
                        </span> 
                    </i>
                <strong>
                &nbsp;
                <span ng-if="!c.isNullable">NN</span>
                <span ng-if="c.isAutoIncrement"><span>{{c.increment.seed}}</span> <span> +{{c.increment.step}}</span></span>
            </li>
        </ul>
        <ul ng-repeat="fk in table.foreignKeys" class="fk">
            <li ng-repeat="ref in fk.columns"></li>
        </ul>            
        
        <input type="text" class="fieldName"/>
        <select class="columnType"></select>
    </div>

</div>-->