/* v2 */



/* v1 */
.ent .column {
	color: #666;
	padding-top: 1px;
	line-height: 16px;
	padding-left: 20px;
}


.ent .column.pk {
}
.ent .column-name{
	user-select: all;
	-moz-user-select: all;
	-webkit-user-select: text
}
.contenteditable{
	
}
.ent .column.pk {
  	padding-left: 7px;
	color: #C24704;
}
